.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
.center .material-symbols-outlined {
  font-size: 7em;
  color: #4b4e5a;
  padding: 0.1em;
}
.center p {
  color: #cacaca;
}