.container {
  background-image: url(../../../assets/images/login-background.jpg);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 calc(3.5vw + 24px);
}
.container .logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
}
.container .logo img {
  width: 100%;
}
.container .logo p {
  text-align: center;
}
.container h1 {
  font-size: 3em;
  text-align: center;
}
.container h3 {
  font-size: 1.5em;
  text-align: center;
  color: #cacaca;
}
.container .contain-btn {
  display: flex;
}
.container .contain-btn button {
  font-family: "Avenir Next W10 Demi", sans-serif;
  margin: 1em 0.5em;
  height: 50px;
  font-size: 1.3em;
}

@media screen and (max-width: 428px) {
  .container h1 {
    font-size: 2em;
  }
  .container h2 {
    font-size: 1em;
  }
  .container .contain-btn {
    width: 100%;
    flex-direction: column;
    margin-bottom: 1em;
  }
  .container .contain-btn button {
    width: 100%;
    margin: 0.5em;
  }
}