/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Avenir Next W10 Demi";
  src: url("https://db.onlinewebfonts.com/t/be4f3c3ef80fa971eb8023e5294e5c6c.eot");
  src: url("https://db.onlinewebfonts.com/t/be4f3c3ef80fa971eb8023e5294e5c6c.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/be4f3c3ef80fa971eb8023e5294e5c6c.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/be4f3c3ef80fa971eb8023e5294e5c6c.woff") format("woff"), url("https://db.onlinewebfonts.com/t/be4f3c3ef80fa971eb8023e5294e5c6c.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/be4f3c3ef80fa971eb8023e5294e5c6c.svg#Avenir Next W10 Demi") format("svg");
}
@font-face {
  font-family: "ArrowIcon";
  src: url("./assets/font/fontello.eot"), url("./assets/font/fontello.woff2") format("woff2"), url("./assets/font/fontello.woff") format("woff"), url("./assets/font/fontello.ttf") format("truetype"), url("./assets/font/fontello.ttf") format("svg");
}
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Avenir Next W10 Demi", sans-serif;
}