@if (!loading) {
  <div class="body">
    <div class="head">
      <h1>Serie</h1>
      <select name="genre" id="genre" (change)="change($event)">
        <option value="">In primo piano</option>
        <option *ngFor="let genre of genres" value="{{ genre.id }}">
          {{ genre.name }}
        </option>
      </select>
    </div>
    <div class="container">
      <ng-container *ngFor="let movie of movies">
        <div class="card" *ngIf="movie.backdrop_path">
          <a [routerLink]="['/series-details', movie.id]">
            <img
              [src]="'https://image.tmdb.org/t/p/w400' + movie.backdrop_path"
              alt="{{ movie.title }}"
            />
          </a>
        </div>
      </ng-container>
    </div>
  </div>  
}@else {
  <app-loader></app-loader>
}