<form>
  <input
    type="text"
    placeholder="Titolo, personaggio o genere"
    name="search"
    autocomplete="off"
    [(ngModel)]="inputSearch"
    (ngModelChange)="search(inputSearch)"
  />
  <button type="reset">
    <span class="material-symbols-outlined"> close </span>
  </button>
</form>

<div class="container">
 <ng-container *ngIf="!inputSearch">
  <ng-container *ngFor="let movie of movies">
    <div class="card" *ngIf="movie.backdrop_path">
      <a [routerLink]="['/movie-details', movie.id]">
        <img
          [src]="'https://image.tmdb.org/t/p/w400' + movie.backdrop_path"
          alt="{{ movie.title }}"
        />
      </a>
    </div>
  </ng-container>
 </ng-container>
 <ng-container *ngIf="inputSearch">
  <ng-container *ngFor="let search of searchData">
    <div class="card" *ngIf="search.backdrop_path">
      <a [routerLink]="search.media_type == 'tv' ? ['/series-details', search.id] : ['/movie-details', search.id]">
        <img [src]="'https://image.tmdb.org/t/p/w400' + search.backdrop_path" alt="{{ search.title }}" />
      </a>
      
    </div>
  </ng-container>
 </ng-container>
</div>
