<!-- @if (movieFavorite.length) {
 <div class="wrap">
  <h2>La tua lista</h2>
  <h4>I tuoi film e serie</h4>
  <div class="container">
    <ng-container *ngFor="let movie of movieFavorite; let index = index">
      <div class="card" *ngIf="movie.backdrop_path">
        <a [routerLink]="favorites[index].mediaType == 'tv' ? ['/series-details', movie.id] : ['/movie-details', movie.id]">
          <img
            [src]="'https://image.tmdb.org/t/p/w400' + movie.backdrop_path"
          />
        </a>
      </div>
    </ng-container>
  </div>
 </div>
}@else {
  <div class="center">
    <span class="material-symbols-outlined"> add_circle </span>
    <h2>La tua lista è vuota</h2>
    <p>Il contenuto aggiunto alla tua lista verrà mostrato qui.</p>
  </div>
} -->


@if (favorites.length) {
  <div class="wrap">
   <h2>La tua lista</h2>
   <h4>I tuoi film e serie</h4>
   <div class="container">
     <ng-container *ngFor="let favorite of favorites; let index = index">
       <div class="card" *ngIf="favorite.movie.backdrop_path">
         <a [routerLink]="favorites[index].mediaType == 'tv' ? ['/series-details', favorite.movie.id] : ['/movie-details', favorite.movie.id]">
           <img
             [src]="'https://image.tmdb.org/t/p/w400' + favorite.movie.backdrop_path"
           />
         </a>
       </div>
     </ng-container>
   </div>
  </div>
 }@else {
   <div class="center">
     <span class="material-symbols-outlined"> add_circle </span>
     <h2>La tua lista è vuota</h2>
     <p>Il contenuto aggiunto alla tua lista verrà mostrato qui.</p>
   </div>
 }
 