<div class="container">
  <div class="logo">
    <img src="../../../assets/images/logo.svg" alt="logo" />
    <p>CLONE</p>
  </div>
  <div class="content">
    <h4>Password dimenticata?</h4>
    <h3>Inserisci la tua nuova password</h3>
    <p>
      Modifica la password al tuo account con la tua email:
      <span>{{ authService.getLoggedUser()!.user.email }}</span>
    </p>
    <div class="form">
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input
          autocomplete="off"
          name="password"
          matInput
          [type]="hide ? 'password' : 'text'"
          #passwordInput="ngModel"
          [(ngModel)]="password"
          required
        />
        <mat-error *ngIf="passwordInput.hasError('required')">
          Password obbligatoria
        </mat-error>
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>

        <mat-hint>(rispetta maiuscole e minuscole)</mat-hint>
      </mat-form-field>
      <mat-error *ngIf="errorMessage"> {{ errorMessage }}</mat-error>
      <button
        mat-raised-button
        color="primary"
        class="submit"
        [disabled]="passwordInput.invalid"
        (click)="changePassword()"
      >
        Modifica
      </button>
    </div>
  </div>
</div>
