<div class="container">
    <div class="content">
      <h4>PASSAGGIO 2</h4>
      <h3>Inserisci la tua password</h3>
      <p>
        Accedi al tuo account con la tua email:
        <span>testgmail.com <a routerLink="/login">modifica</a></span>
      </p>
      <form #emailForm="ngForm">
        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        
        <button mat-raised-button color="primary" class="submit">Accedi</button>
      </form>
    </div>
  </div>
  
