<div class="container">
  <div class="logo">
    <img src="../../../assets/images/logo.svg" alt="logo" />
    <p>CLONE</p>
  </div>
  <div class="content">
    <h4>PASSAGGIO 2</h4>
    <h3>Inserisci la tua password</h3>
    <p>
      Accedi al tuo account con la tua email:
      <span>{{ authService.email }} <a routerLink="/login">modifica</a></span>
    </p>
    <div class="form">
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input
        autocomplete="off"
          name="password"
          matInput
          [type]="hide ? 'password' : 'text'"
          #passwordInput="ngModel"
          [(ngModel)]="password"
          pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{6,}$"
          required
        />
        <mat-error *ngIf="passwordInput.hasError('required')">
          Password obbligatoria
        </mat-error>
        <mat-error *ngIf="passwordInput.hasError('pattern')">
          Assicurati che la password sia composta da almeno sei caratteri,
          includa almeno un numero o un carattere speciale e che non sia tra
          quelle usate più di frequente.</mat-error
        >
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        
        <mat-hint>(rispetta maiuscole e minuscole)</mat-hint>
      </mat-form-field>
      <mat-error *ngIf="errorMessage"> {{ errorMessage }}</mat-error>
      <button
        mat-raised-button
        color="primary"
        class="submit"
        (click)="onButtonClick()"
        [disabled]="passwordInput.invalid"
      >
        Accedi
      </button>
    </div>
    <p *ngIf="errorMessage == 'Cannot find user'" class="register">
      Non hai un account? <a routerLink="/register">Registrati</a>
    </p>
  </div>
</div>
