<div class="container">
  <div class="logo">
    <img src="../../../assets/images/logo.svg" alt="logo" />
    <p>CLONE</p>
  </div>
  <div class="content">
    <h4>PASSAGGIO 2</h4>
    <h3>Inserisci la tua password</h3>
    <p>
      Accedi al tuo account con la tua email:
      <span>{{authService.email}} <a routerLink="/login">modifica</a></span>
    </p>
    <div class="form">
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input
          name="password"
          matInput
          [type]="hide ? 'password' : 'text'"
          #passwordInput="ngModel"
          [(ngModel)]="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        class="submit"
        (click)="onButtonClick()"
      >
        Accedi
      </button>
    </div>
  </div>
</div>
