<div class="container">
  <div class="card">
    <a [routerLink]="['/collections', 'disney']">
      <img src="../../assets/images/viewers-disney.png" />
      <video
        src="../../assets/videos/1564674844-disney.mp4"
        muted
        autoplay
        loop
        playsinline
      ></video
    ></a>
  </div>
  <div class="card">
    <a [routerLink]="['/collections', 'pixar']"
      ><img src="../../assets/images/viewers-pixar.png" />
      <video
        src="../../assets/videos/1564676714-pixar.mp4"
        autoplay
        loop
        muted
        playsinline
      ></video
    ></a>
  </div>
  <div class="card">
    <a [routerLink]="['/collections', 'marvel']"
      ><img src="../../assets/images/viewers-marvel.png" />
      <video
        src="../../assets/videos/1564676115-marvel.mp4"
        autoplay
        loop
        muted
        playsinline
      ></video
    ></a>
  </div>
  <div class="card">
    <a [routerLink]="['/collections', 'star-wars']"
      ><img src="../../assets/images/viewers-starwars.png" />
      <video
        src="../../assets/videos/1608229455-star-wars.mp4"
        autoplay
        loop
        muted
        playsinline
      ></video
    ></a>
  </div>
  <div class="card">
    <a [routerLink]="['/collections', 'national-geographic']">
      <img src="../../assets/images/viewers-national.png" />
      <video
        src="../../assets/videos/1564676296-national-geographic.mp4"
        autoplay
        loop
        muted
        playsinline
      ></video
    ></a>
  </div>
  <div class="card">
    <a [routerLink]="['/collections', 'star']"
      ><img src="../../assets/images/viewers-star.png" />
      <video
        src="../../assets/videos/1564674844-disney.mp4"
        autoplay
        loop
        muted
        playsinline
      ></video
    ></a>
  </div>
</div>
