<div class="container">
    <div class="logo">
        <img src="../../../assets/images/logo.svg" alt="logo">
        <p>CLONE</p>
    </div>
    <h1>Guarda nuovi film, film di successo, serie imperdibili e molto altro ancora</h1>
    <h3>Accedi. Se non hai un account, registrati.</h3>
    <div class="contain-btn">
        <button mat-raised-button color="primary" routerLink="/login">ACCEDI</button>
        <button mat-raised-button color="primary" routerLink="/register">REGISTRATI</button>
    </div>
</div>
