.container {
  background-image: url(../../../assets/images/login-background.jpg);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 calc(3.5vw + 24px);
  .logo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    img{
      width: 100%;
    }
    p{
      text-align: center;
    }
  }
  h1 {
    font-size: 3em;
    text-align: center;
  }
  h3 {
    font-size: 1.5em;
    text-align: center;
    color: #cacaca;
  }
  .contain-btn {
    display: flex;
    button {
      font-family: "Avenir Next W10 Demi", sans-serif;
      margin: 1em 0.5em;
      height: 50px;
      font-size: 1.3em;
    }
  }
}


@media screen and (max-width: 428px) {
.container{
  h1{
    font-size: 2em;
  }
  h2{
    font-size: 1em;
  }
  .contain-btn{
    width: 100%;
    flex-direction: column;
    margin-bottom: 1em;
    button{
      width: 100%;
      margin: .5em;
    }
  }
}
}